body{
	background-color: lightcyan;
}
.mydivs{
	border: 2px solid red;
	margin: 5px;
	padding: 10px;
}
.mydivs1{
	border: 2px solid blue;
	margin: 5px;
	padding: 10px;
}
.mydivs3{
	border: 2px solid green;
	margin: 5px;
	padding: 10px;
}
img{
	display: block;
	margin-left: auto;
	margin-right: auto;
	border: 5px solid red;
	padding: 5px;
}
b{
	font-family: cursive;
	font-size: 16px;
}
